.menu {
    display: flex;
    width: 80%;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    
}

.logo {
    color: black;
    font-size: 2em;
    padding: 1rem;
}

.menu ul {
    margin: 20px;
    padding: 0.5rem;
    margin-left: 50%;
    
}


a {
    /* border: solid 1px gray;
    border-radius: 10px; */
    color: black;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
    padding: .5rem;
    text-decoration: none;
    transition: 200ms;
}

a:hover {
    background-color: white;
    border-radius: 10px;

     text-decoration: none;
}